@charset "UTF-8";
/** COLOR's DEFAULT **/
/** LOGIN - LEFT */
/** LOGIN - RIGHT */
/** DASH - SIDEBAR */
/** DASH - CONTENT */
/** DASH - RWD */
/**
FONT SYSTEM
 */
/**
COLOR SYSTEM
 */
/** Auto generate buttons, gradients */
/**
RADIUS SYSTEM
 */
/**
INDEX SYSTEM
 */
/** TinyMCE */
.mce_upload {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 4;
  background: rgba(0, 0, 0, 0.2);
}

.mce_upload_box {
  margin: auto;
  width: 400px;
  max-width: 90%;
  background: #FFFFFF;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
}

.mce_upload_box label.legend {
  margin-bottom: 15px;
}

.mce_upload_box .btn {
  width: 100%;
}

textarea.mce {
  font-size: 0.875em;
}

/** Font Icons */
@font-face {
  font-family: "upadmin";
  src: url("fonts/upadmin.eot");
  src: url("fonts/upadmin.eot?#iefix") format("embedded-opentype"), url("fonts/upadmin.woff") format("woff"), url("fonts/upadmin.ttf") format("truetype"), url("fonts/upadmin.svg#upadmin") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "upadmin" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "upadmin" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-500px:before {
  content: "a";
}

.icon-adjust:before {
  content: "b";
}

.icon-adn:before {
  content: "c";
}

.icon-align-center:before {
  content: "d";
}

.icon-align-justify:before {
  content: "e";
}

.icon-align-left:before {
  content: "f";
}

.icon-align-right:before {
  content: "g";
}

.icon-amazon:before {
  content: "h";
}

.icon-ambulance:before {
  content: "i";
}

.icon-anchor:before {
  content: "j";
}

.icon-android:before {
  content: "k";
}

.icon-angellist:before {
  content: "l";
}

.icon-angle-double-down:before {
  content: "m";
}

.icon-angle-double-left:before {
  content: "n";
}

.icon-angle-double-right:before {
  content: "o";
}

.icon-angle-double-up:before {
  content: "p";
}

.icon-angle-down:before {
  content: "q";
}

.icon-angle-left:before {
  content: "r";
}

.icon-angle-right:before {
  content: "s";
}

.icon-angle-up:before {
  content: "t";
}

.icon-apple:before {
  content: "u";
}

.icon-archive:before {
  content: "v";
}

.icon-area-chart:before {
  content: "w";
}

.icon-arrow-circle-down:before {
  content: "x";
}

.icon-arrow-circle-left:before {
  content: "y";
}

.icon-arrow-circle-o-down:before {
  content: "z";
}

.icon-arrow-circle-o-left:before {
  content: "A";
}

.icon-arrow-circle-o-right:before {
  content: "B";
}

.icon-arrow-circle-o-up:before {
  content: "C";
}

.icon-arrow-circle-right:before {
  content: "D";
}

.icon-arrow-circle-up:before {
  content: "E";
}

.icon-arrow-down:before {
  content: "F";
}

.icon-arrow-left:before {
  content: "G";
}

.icon-arrow-right:before {
  content: "H";
}

.icon-arrow-up:before {
  content: "I";
}

.icon-arrows:before {
  content: "J";
}

.icon-arrows-alt:before {
  content: "K";
}

.icon-arrows-h:before {
  content: "L";
}

.icon-arrows-v:before {
  content: "M";
}

.icon-asterisk:before {
  content: "N";
}

.icon-at:before {
  content: "O";
}

.icon-backward:before {
  content: "P";
}

.icon-balance-scale:before {
  content: "Q";
}

.icon-ban:before {
  content: "R";
}

.icon-bar-chart:before {
  content: "S";
}

.icon-barcode:before {
  content: "T";
}

.icon-bars:before {
  content: "U";
}

.icon-battery-empty:before {
  content: "V";
}

.icon-battery-full:before {
  content: "W";
}

.icon-battery-half:before {
  content: "X";
}

.icon-battery-quarter:before {
  content: "Y";
}

.icon-battery-three-quarters:before {
  content: "Z";
}

.icon-bed:before {
  content: "0";
}

.icon-beer:before {
  content: "1";
}

.icon-behance:before {
  content: "2";
}

.icon-behance-square:before {
  content: "3";
}

.icon-bell:before {
  content: "4";
}

.icon-bell-o:before {
  content: "5";
}

.icon-bell-slash:before {
  content: "6";
}

.icon-bell-slash-o:before {
  content: "7";
}

.icon-bicycle:before {
  content: "8";
}

.icon-binoculars:before {
  content: "9";
}

.icon-birthday-cake:before {
  content: "!";
}

.icon-bitbucket:before {
  content: '"';
}

.icon-bitbucket-square:before {
  content: "#";
}

.icon-black-tie:before {
  content: "$";
}

.icon-bold:before {
  content: "%";
}

.icon-bolt:before {
  content: "&";
}

.icon-bomb:before {
  content: "'";
}

.icon-book:before {
  content: "(";
}

.icon-bookmark:before {
  content: ")";
}

.icon-bookmark-o:before {
  content: "*";
}

.icon-briefcase:before {
  content: "+";
}

.icon-btc:before {
  content: ",";
}

.icon-bug:before {
  content: "-";
}

.icon-building:before {
  content: ".";
}

.icon-building-o:before {
  content: "/";
}

.icon-bullhorn:before {
  content: ":";
}

.icon-bullseye:before {
  content: ";";
}

.icon-bus:before {
  content: "<";
}

.icon-buysellads:before {
  content: "=";
}

.icon-calculator:before {
  content: ">";
}

.icon-calendar:before {
  content: "?";
}

.icon-calendar-check-o:before {
  content: "@";
}

.icon-calendar-minus-o:before {
  content: "[";
}

.icon-calendar-o:before {
  content: "]";
}

.icon-calendar-plus-o:before {
  content: "^";
}

.icon-calendar-times-o:before {
  content: "_";
}

.icon-camera:before {
  content: "`";
}

.icon-camera-retro:before {
  content: "{";
}

.icon-car:before {
  content: "|";
}

.icon-caret-down:before {
  content: "}";
}

.icon-caret-left:before {
  content: "~";
}

.icon-caret-right:before {
  content: "\\";
}

.icon-caret-square-o-down:before {
  content: "\E000";
}

.icon-caret-square-o-left:before {
  content: "\E001";
}

.icon-caret-square-o-right:before {
  content: "\E002";
}

.icon-caret-square-o-up:before {
  content: "\E003";
}

.icon-caret-up:before {
  content: "\E004";
}

.icon-cart-arrow-down:before {
  content: "\E005";
}

.icon-cart-plus:before {
  content: "\E006";
}

.icon-cc:before {
  content: "\E007";
}

.icon-cc-amex:before {
  content: "\E008";
}

.icon-cc-diners-club:before {
  content: "\E009";
}

.icon-cc-discover:before {
  content: "\E00A";
}

.icon-cc-jcb:before {
  content: "\E00B";
}

.icon-cc-mastercard:before {
  content: "\E00C";
}

.icon-cc-paypal:before {
  content: "\E00D";
}

.icon-cc-stripe:before {
  content: "\E00E";
}

.icon-cc-visa:before {
  content: "\E00F";
}

.icon-certificate:before {
  content: "\E010";
}

.icon-chain-broken:before {
  content: "\E011";
}

.icon-check:before {
  content: "\E012";
}

.icon-check-circle:before {
  content: "\E013";
}

.icon-check-circle-o:before {
  content: "\E014";
}

.icon-check-square:before {
  content: "\E015";
}

.icon-check-square-o:before {
  content: "\E016";
}

.icon-chevron-circle-down:before {
  content: "\E017";
}

.icon-chevron-circle-left:before {
  content: "\E018";
}

.icon-chevron-circle-right:before {
  content: "\E019";
}

.icon-chevron-circle-up:before {
  content: "\E01A";
}

.icon-chevron-down:before {
  content: "\E01B";
}

.icon-chevron-left:before {
  content: "\E01C";
}

.icon-chevron-right:before {
  content: "\E01D";
}

.icon-chevron-up:before {
  content: "\E01E";
}

.icon-child:before {
  content: "\E01F";
}

.icon-chrome:before {
  content: "\E020";
}

.icon-circle:before {
  content: "\E021";
}

.icon-circle-o:before {
  content: "\E022";
}

.icon-circle-o-notch:before {
  content: "\E023";
}

.icon-circle-thin:before {
  content: "\E024";
}

.icon-clipboard:before {
  content: "\E025";
}

.icon-clock-o:before {
  content: "\E026";
}

.icon-clone:before {
  content: "\E027";
}

.icon-cloud:before {
  content: "\E028";
}

.icon-cloud-download:before {
  content: "\E029";
}

.icon-cloud-upload:before {
  content: "\E02A";
}

.icon-code:before {
  content: "\E02B";
}

.icon-code-fork:before {
  content: "\E02C";
}

.icon-codepen:before {
  content: "\E02D";
}

.icon-coffee:before {
  content: "\E02E";
}

.icon-cog:before {
  content: "\E02F";
}

.icon-cogs:before {
  content: "\E030";
}

.icon-columns:before {
  content: "\E031";
}

.icon-comment:before {
  content: "\E032";
}

.icon-comment-o:before {
  content: "\E033";
}

.icon-commenting:before {
  content: "\E034";
}

.icon-commenting-o:before {
  content: "\E035";
}

.icon-comments:before {
  content: "\E036";
}

.icon-comments-o:before {
  content: "\E037";
}

.icon-compass:before {
  content: "\E038";
}

.icon-compress:before {
  content: "\E039";
}

.icon-connectdevelop:before {
  content: "\E03A";
}

.icon-contao:before {
  content: "\E03B";
}

.icon-copyright:before {
  content: "\E03C";
}

.icon-creative-commons:before {
  content: "\E03D";
}

.icon-credit-card:before {
  content: "\E03E";
}

.icon-crop:before {
  content: "\E03F";
}

.icon-crosshairs:before {
  content: "\E040";
}

.icon-css3:before {
  content: "\E041";
}

.icon-cube:before {
  content: "\E042";
}

.icon-cubes:before {
  content: "\E043";
}

.icon-cutlery:before {
  content: "\E044";
}

.icon-dashcube:before {
  content: "\E045";
}

.icon-database:before {
  content: "\E046";
}

.icon-delicious:before {
  content: "\E047";
}

.icon-desktop:before {
  content: "\E048";
}

.icon-deviantart:before {
  content: "\E049";
}

.icon-diamond:before {
  content: "\E04A";
}

.icon-digg:before {
  content: "\E04B";
}

.icon-dot-circle-o:before {
  content: "\E04C";
}

.icon-download:before {
  content: "\E04D";
}

.icon-dribbble:before {
  content: "\E04E";
}

.icon-dropbox:before {
  content: "\E04F";
}

.icon-drupal:before {
  content: "\E050";
}

.icon-eject:before {
  content: "\E051";
}

.icon-ellipsis-h:before {
  content: "\E052";
}

.icon-ellipsis-v:before {
  content: "\E053";
}

.icon-empire:before {
  content: "\E054";
}

.icon-envelope:before {
  content: "\E055";
}

.icon-envelope-o:before {
  content: "\E056";
}

.icon-envelope-square:before {
  content: "\E057";
}

.icon-eraser:before {
  content: "\E058";
}

.icon-eur:before {
  content: "\E059";
}

.icon-exchange:before {
  content: "\E05A";
}

.icon-exclamation:before {
  content: "\E05B";
}

.icon-exclamation-circle:before {
  content: "\E05C";
}

.icon-exclamation-triangle:before {
  content: "\E05D";
}

.icon-expand:before {
  content: "\E05E";
}

.icon-expeditedssl:before {
  content: "\E05F";
}

.icon-external-link:before {
  content: "\E060";
}

.icon-external-link-square:before {
  content: "\E061";
}

.icon-eye:before {
  content: "\E062";
}

.icon-eye-slash:before {
  content: "\E063";
}

.icon-eyedropper:before {
  content: "\E064";
}

.icon-facebook:before {
  content: "\E065";
}

.icon-facebook-official:before {
  content: "\E066";
}

.icon-facebook-square:before {
  content: "\E067";
}

.icon-fast-backward:before {
  content: "\E068";
}

.icon-fast-forward:before {
  content: "\E069";
}

.icon-fax:before {
  content: "\E06A";
}

.icon-female:before {
  content: "\E06B";
}

.icon-fighter-jet:before {
  content: "\E06C";
}

.icon-file:before {
  content: "\E06D";
}

.icon-file-archive-o:before {
  content: "\E06E";
}

.icon-file-audio-o:before {
  content: "\E06F";
}

.icon-file-code-o:before {
  content: "\E070";
}

.icon-file-excel-o:before {
  content: "\E071";
}

.icon-file-image-o:before {
  content: "\E072";
}

.icon-file-o:before {
  content: "\E073";
}

.icon-file-pdf-o:before {
  content: "\E074";
}

.icon-file-powerpoint-o:before {
  content: "\E075";
}

.icon-file-text:before {
  content: "\E076";
}

.icon-file-text-o:before {
  content: "\E077";
}

.icon-file-video-o:before {
  content: "\E078";
}

.icon-file-word-o:before {
  content: "\E079";
}

.icon-files-o:before {
  content: "\E07A";
}

.icon-film:before {
  content: "\E07B";
}

.icon-filter:before {
  content: "\E07C";
}

.icon-fire:before {
  content: "\E07D";
}

.icon-fire-extinguisher:before {
  content: "\E07E";
}

.icon-firefox:before {
  content: "\E07F";
}

.icon-flag:before {
  content: "\E080";
}

.icon-flag-checkered:before {
  content: "\E081";
}

.icon-flag-o:before {
  content: "\E082";
}

.icon-flask:before {
  content: "\E083";
}

.icon-flickr:before {
  content: "\E084";
}

.icon-floppy-o:before {
  content: "\E085";
}

.icon-folder:before {
  content: "\E086";
}

.icon-folder-o:before {
  content: "\E087";
}

.icon-folder-open:before {
  content: "\E088";
}

.icon-folder-open-o:before {
  content: "\E089";
}

.icon-font:before {
  content: "\E08A";
}

.icon-fonticons:before {
  content: "\E08B";
}

.icon-forumbee:before {
  content: "\E08C";
}

.icon-forward:before {
  content: "\E08D";
}

.icon-foursquare:before {
  content: "\E08E";
}

.icon-frown-o:before {
  content: "\E08F";
}

.icon-futbol-o:before {
  content: "\E090";
}

.icon-gamepad:before {
  content: "\E091";
}

.icon-gavel:before {
  content: "\E092";
}

.icon-gbp:before {
  content: "\E093";
}

.icon-genderless:before {
  content: "\E094";
}

.icon-get-pocket:before {
  content: "\E095";
}

.icon-gg:before {
  content: "\E096";
}

.icon-gg-circle:before {
  content: "\E097";
}

.icon-gift:before {
  content: "\E098";
}

.icon-git:before {
  content: "\E099";
}

.icon-git-square:before {
  content: "\E09A";
}

.icon-github:before {
  content: "\E09B";
}

.icon-github-alt:before {
  content: "\E09C";
}

.icon-github-square:before {
  content: "\E09D";
}

.icon-glass:before {
  content: "\E09E";
}

.icon-globe:before {
  content: "\E09F";
}

.icon-google:before {
  content: "\E0A0";
}

.icon-google-plus:before {
  content: "\E0A1";
}

.icon-google-plus-square:before {
  content: "\E0A2";
}

.icon-google-wallet:before {
  content: "\E0A3";
}

.icon-graduation-cap:before {
  content: "\E0A4";
}

.icon-gratipay:before {
  content: "\E0A5";
}

.icon-h-square:before {
  content: "\E0A6";
}

.icon-hacker-news:before {
  content: "\E0A7";
}

.icon-hand-lizard-o:before {
  content: "\E0A8";
}

.icon-hand-o-down:before {
  content: "\E0A9";
}

.icon-hand-o-left:before {
  content: "\E0AA";
}

.icon-hand-o-right:before {
  content: "\E0AB";
}

.icon-hand-o-up:before {
  content: "\E0AC";
}

.icon-hand-paper-o:before {
  content: "\E0AD";
}

.icon-hand-peace-o:before {
  content: "\E0AE";
}

.icon-hand-pointer-o:before {
  content: "\E0AF";
}

.icon-hand-rock-o:before {
  content: "\E0B0";
}

.icon-hand-scissors-o:before {
  content: "\E0B1";
}

.icon-hand-spock-o:before {
  content: "\E0B2";
}

.icon-hdd-o:before {
  content: "\E0B3";
}

.icon-header:before {
  content: "\E0B4";
}

.icon-headphones:before {
  content: "\E0B5";
}

.icon-heart:before {
  content: "\E0B6";
}

.icon-heart-o:before {
  content: "\E0B7";
}

.icon-heartbeat:before {
  content: "\E0B8";
}

.icon-history:before {
  content: "\E0B9";
}

.icon-home:before {
  content: "\E0BA";
}

.icon-hospital-o:before {
  content: "\E0BB";
}

.icon-hourglass:before {
  content: "\E0BC";
}

.icon-hourglass-end:before {
  content: "\E0BD";
}

.icon-hourglass-half:before {
  content: "\E0BE";
}

.icon-hourglass-o:before {
  content: "\E0BF";
}

.icon-hourglass-start:before {
  content: "\E0C0";
}

.icon-houzz:before {
  content: "\E0C1";
}

.icon-html5:before {
  content: "\E0C2";
}

.icon-i-cursor:before {
  content: "\E0C3";
}

.icon-ils:before {
  content: "\E0C4";
}

.icon-inbox:before {
  content: "\E0C5";
}

.icon-indent:before {
  content: "\E0C6";
}

.icon-industry:before {
  content: "\E0C7";
}

.icon-info:before {
  content: "\E0C8";
}

.icon-info-circle:before {
  content: "\E0C9";
}

.icon-inr:before {
  content: "\E0CA";
}

.icon-instagram:before {
  content: "\E0CB";
}

.icon-internet-explorer:before {
  content: "\E0CC";
}

.icon-ioxhost:before {
  content: "\E0CD";
}

.icon-italic:before {
  content: "\E0CE";
}

.icon-joomla:before {
  content: "\E0CF";
}

.icon-jpy:before {
  content: "\E0D0";
}

.icon-jsfiddle:before {
  content: "\E0D1";
}

.icon-key:before {
  content: "\E0D2";
}

.icon-keyboard-o:before {
  content: "\E0D3";
}

.icon-krw:before {
  content: "\E0D4";
}

.icon-language:before {
  content: "\E0D5";
}

.icon-laptop:before {
  content: "\E0D6";
}

.icon-lastfm:before {
  content: "\E0D7";
}

.icon-lastfm-square:before {
  content: "\E0D8";
}

.icon-leaf:before {
  content: "\E0D9";
}

.icon-leanpub:before {
  content: "\E0DA";
}

.icon-lemon-o:before {
  content: "\E0DB";
}

.icon-level-down:before {
  content: "\E0DC";
}

.icon-level-up:before {
  content: "\E0DD";
}

.icon-life-ring:before {
  content: "\E0DE";
}

.icon-lightbulb-o:before {
  content: "\E0DF";
}

.icon-line-chart:before {
  content: "\E0E0";
}

.icon-link:before {
  content: "\E0E1";
}

.icon-linkedin:before {
  content: "\E0E2";
}

.icon-linkedin-square:before {
  content: "\E0E3";
}

.icon-linux:before {
  content: "\E0E4";
}

.icon-list:before {
  content: "\E0E5";
}

.icon-list-alt:before {
  content: "\E0E6";
}

.icon-list-ol:before {
  content: "\E0E7";
}

.icon-list-ul:before {
  content: "\E0E8";
}

.icon-location-arrow:before {
  content: "\E0E9";
}

.icon-lock:before {
  content: "\E0EA";
}

.icon-long-arrow-down:before {
  content: "\E0EB";
}

.icon-long-arrow-left:before {
  content: "\E0EC";
}

.icon-long-arrow-right:before {
  content: "\E0ED";
}

.icon-long-arrow-up:before {
  content: "\E0EE";
}

.icon-magic:before {
  content: "\E0EF";
}

.icon-magnet:before {
  content: "\E0F0";
}

.icon-male:before {
  content: "\E0F1";
}

.icon-map:before {
  content: "\E0F2";
}

.icon-map-marker:before {
  content: "\E0F3";
}

.icon-map-o:before {
  content: "\E0F4";
}

.icon-map-pin:before {
  content: "\E0F5";
}

.icon-map-signs:before {
  content: "\E0F6";
}

.icon-mars:before {
  content: "\E0F7";
}

.icon-mars-double:before {
  content: "\E0F8";
}

.icon-mars-stroke:before {
  content: "\E0F9";
}

.icon-mars-stroke-h:before {
  content: "\E0FA";
}

.icon-mars-stroke-v:before {
  content: "\E0FB";
}

.icon-maxcdn:before {
  content: "\E0FC";
}

.icon-meanpath:before {
  content: "\E0FD";
}

.icon-medium:before {
  content: "\E0FE";
}

.icon-medkit:before {
  content: "\E0FF";
}

.icon-meh-o:before {
  content: "\E100";
}

.icon-mercury:before {
  content: "\E101";
}

.icon-microphone:before {
  content: "\E102";
}

.icon-microphone-slash:before {
  content: "\E103";
}

.icon-minus:before {
  content: "\E104";
}

.icon-minus-circle:before {
  content: "\E105";
}

.icon-minus-square:before {
  content: "\E106";
}

.icon-minus-square-o:before {
  content: "\E107";
}

.icon-mobile:before {
  content: "\E108";
}

.icon-money:before {
  content: "\E109";
}

.icon-moon-o:before {
  content: "\E10A";
}

.icon-motorcycle:before {
  content: "\E10B";
}

.icon-mouse-pointer:before {
  content: "\E10C";
}

.icon-music:before {
  content: "\E10D";
}

.icon-neuter:before {
  content: "\E10E";
}

.icon-newspaper-o:before {
  content: "\E10F";
}

.icon-object-group:before {
  content: "\E110";
}

.icon-object-ungroup:before {
  content: "\E111";
}

.icon-odnoklassniki:before {
  content: "\E112";
}

.icon-odnoklassniki-square:before {
  content: "\E113";
}

.icon-opencart:before {
  content: "\E114";
}

.icon-openid:before {
  content: "\E115";
}

.icon-opera:before {
  content: "\E116";
}

.icon-optin-monster:before {
  content: "\E117";
}

.icon-outdent:before {
  content: "\E118";
}

.icon-pagelines:before {
  content: "\E119";
}

.icon-paint-brush:before {
  content: "\E11A";
}

.icon-paper-plane:before {
  content: "\E11B";
}

.icon-paper-plane-o:before {
  content: "\E11C";
}

.icon-paperclip:before {
  content: "\E11D";
}

.icon-paragraph:before {
  content: "\E11E";
}

.icon-pause:before {
  content: "\E11F";
}

.icon-paw:before {
  content: "\E120";
}

.icon-paypal:before {
  content: "\E121";
}

.icon-pencil:before {
  content: "\E122";
}

.icon-pencil-square:before {
  content: "\E123";
}

.icon-pencil-square-o:before {
  content: "\E124";
}

.icon-phone:before {
  content: "\E125";
}

.icon-phone-square:before {
  content: "\E126";
}

.icon-picture-o:before {
  content: "\E127";
}

.icon-pie-chart:before {
  content: "\E128";
}

.icon-pied-piper:before {
  content: "\E129";
}

.icon-pied-piper-alt:before {
  content: "\E12A";
}

.icon-pinterest:before {
  content: "\E12B";
}

.icon-pinterest-p:before {
  content: "\E12C";
}

.icon-pinterest-square:before {
  content: "\E12D";
}

.icon-plane:before {
  content: "\E12E";
}

.icon-play:before {
  content: "\E12F";
}

.icon-play-circle:before {
  content: "\E130";
}

.icon-play-circle-o:before {
  content: "\E131";
}

.icon-plug:before {
  content: "\E132";
}

.icon-plus:before {
  content: "\E133";
}

.icon-plus-circle:before {
  content: "\E134";
}

.icon-plus-square:before {
  content: "\E135";
}

.icon-plus-square-o:before {
  content: "\E136";
}

.icon-power-off:before {
  content: "\E137";
}

.icon-print:before {
  content: "\E138";
}

.icon-puzzle-piece:before {
  content: "\E139";
}

.icon-qq:before {
  content: "\E13A";
}

.icon-qrcode:before {
  content: "\E13B";
}

.icon-question:before {
  content: "\E13C";
}

.icon-question-circle:before {
  content: "\E13D";
}

.icon-quote-left:before {
  content: "\E13E";
}

.icon-quote-right:before {
  content: "\E13F";
}

.icon-random:before {
  content: "\E140";
}

.icon-rebel:before {
  content: "\E141";
}

.icon-recycle:before {
  content: "\E142";
}

.icon-reddit:before {
  content: "\E143";
}

.icon-reddit-square:before {
  content: "\E144";
}

.icon-refresh:before {
  content: "\E145";
}

.icon-registered:before {
  content: "\E146";
}

.icon-renren:before {
  content: "\E147";
}

.icon-repeat:before {
  content: "\E148";
}

.icon-reply:before {
  content: "\E149";
}

.icon-reply-all:before {
  content: "\E14A";
}

.icon-retweet:before {
  content: "\E14B";
}

.icon-road:before {
  content: "\E14C";
}

.icon-rocket:before {
  content: "\E14D";
}

.icon-rss:before {
  content: "\E14E";
}

.icon-rss-square:before {
  content: "\E14F";
}

.icon-rub:before {
  content: "\E150";
}

.icon-safari:before {
  content: "\E151";
}

.icon-scissors:before {
  content: "\E152";
}

.icon-search:before {
  content: "\E153";
}

.icon-search-minus:before {
  content: "\E154";
}

.icon-search-plus:before {
  content: "\E155";
}

.icon-sellsy:before {
  content: "\E156";
}

.icon-server:before {
  content: "\E157";
}

.icon-share:before {
  content: "\E158";
}

.icon-share-alt:before {
  content: "\E159";
}

.icon-share-alt-square:before {
  content: "\E15A";
}

.icon-share-square:before {
  content: "\E15B";
}

.icon-share-square-o:before {
  content: "\E15C";
}

.icon-shield:before {
  content: "\E15D";
}

.icon-ship:before {
  content: "\E15E";
}

.icon-shirtsinbulk:before {
  content: "\E15F";
}

.icon-shopping-cart:before {
  content: "\E160";
}

.icon-sign-in:before {
  content: "\E161";
}

.icon-sign-out:before {
  content: "\E162";
}

.icon-signal:before {
  content: "\E163";
}

.icon-simplybuilt:before {
  content: "\E164";
}

.icon-sitemap:before {
  content: "\E165";
}

.icon-skyatlas:before {
  content: "\E166";
}

.icon-skype:before {
  content: "\E167";
}

.icon-slack:before {
  content: "\E168";
}

.icon-sliders:before {
  content: "\E169";
}

.icon-slideshare:before {
  content: "\E16A";
}

.icon-smile-o:before {
  content: "\E16B";
}

.icon-sort:before {
  content: "\E16C";
}

.icon-sort-alpha-asc:before {
  content: "\E16D";
}

.icon-sort-alpha-desc:before {
  content: "\E16E";
}

.icon-sort-amount-asc:before {
  content: "\E16F";
}

.icon-sort-amount-desc:before {
  content: "\E170";
}

.icon-sort-asc:before {
  content: "\E171";
}

.icon-sort-desc:before {
  content: "\E172";
}

.icon-sort-numeric-asc:before {
  content: "\E173";
}

.icon-sort-numeric-desc:before {
  content: "\E174";
}

.icon-soundcloud:before {
  content: "\E175";
}

.icon-space-shuttle:before {
  content: "\E176";
}

.icon-spinner:before {
  content: "\E177";
}

.icon-spoon:before {
  content: "\E178";
}

.icon-spotify:before {
  content: "\E179";
}

.icon-square:before {
  content: "\E17A";
}

.icon-square-o:before {
  content: "\E17B";
}

.icon-stack-exchange:before {
  content: "\E17C";
}

.icon-stack-overflow:before {
  content: "\E17D";
}

.icon-star:before {
  content: "\E17E";
}

.icon-star-half:before {
  content: "\E17F";
}

.icon-star-half-o:before {
  content: "\E180";
}

.icon-star-o:before {
  content: "\E181";
}

.icon-steam:before {
  content: "\E182";
}

.icon-steam-square:before {
  content: "\E183";
}

.icon-step-backward:before {
  content: "\E184";
}

.icon-step-forward:before {
  content: "\E185";
}

.icon-stethoscope:before {
  content: "\E186";
}

.icon-sticky-note:before {
  content: "\E187";
}

.icon-sticky-note-o:before {
  content: "\E188";
}

.icon-stop:before {
  content: "\E189";
}

.icon-street-view:before {
  content: "\E18A";
}

.icon-strikethrough:before {
  content: "\E18B";
}

.icon-stumbleupon:before {
  content: "\E18C";
}

.icon-stumbleupon-circle:before {
  content: "\E18D";
}

.icon-subscript:before {
  content: "\E18E";
}

.icon-subway:before {
  content: "\E18F";
}

.icon-suitcase:before {
  content: "\E190";
}

.icon-sun-o:before {
  content: "\E191";
}

.icon-superscript:before {
  content: "\E192";
}

.icon-table:before {
  content: "\E193";
}

.icon-tablet:before {
  content: "\E194";
}

.icon-tachometer:before {
  content: "\E195";
}

.icon-tag:before {
  content: "\E196";
}

.icon-tags:before {
  content: "\E197";
}

.icon-tasks:before {
  content: "\E198";
}

.icon-taxi:before {
  content: "\E199";
}

.icon-television:before {
  content: "\E19A";
}

.icon-tencent-weibo:before {
  content: "\E19B";
}

.icon-terminal:before {
  content: "\E19C";
}

.icon-text-height:before {
  content: "\E19D";
}

.icon-text-width:before {
  content: "\E19E";
}

.icon-th:before {
  content: "\E19F";
}

.icon-th-large:before {
  content: "\E1A0";
}

.icon-th-list:before {
  content: "\E1A1";
}

.icon-thumb-tack:before {
  content: "\E1A2";
}

.icon-thumbs-down:before {
  content: "\E1A3";
}

.icon-thumbs-o-down:before {
  content: "\E1A4";
}

.icon-thumbs-o-up:before {
  content: "\E1A5";
}

.icon-thumbs-up:before {
  content: "\E1A6";
}

.icon-ticket:before {
  content: "\E1A7";
}

.icon-times:before {
  content: "\E1A8";
}

.icon-times-circle:before {
  content: "\E1A9";
}

.icon-times-circle-o:before {
  content: "\E1AA";
}

.icon-tint:before {
  content: "\E1AB";
}

.icon-toggle-off:before {
  content: "\E1AC";
}

.icon-toggle-on:before {
  content: "\E1AD";
}

.icon-trademark:before {
  content: "\E1AE";
}

.icon-train:before {
  content: "\E1AF";
}

.icon-transgender:before {
  content: "\E1B0";
}

.icon-transgender-alt:before {
  content: "\E1B1";
}

.icon-trash:before {
  content: "\E1B2";
}

.icon-trash-o:before {
  content: "\E1B3";
}

.icon-tree:before {
  content: "\E1B4";
}

.icon-trello:before {
  content: "\E1B5";
}

.icon-tripadvisor:before {
  content: "\E1B6";
}

.icon-trophy:before {
  content: "\E1B7";
}

.icon-truck:before {
  content: "\E1B8";
}

.icon-try:before {
  content: "\E1B9";
}

.icon-tty:before {
  content: "\E1BA";
}

.icon-tumblr:before {
  content: "\E1BB";
}

.icon-tumblr-square:before {
  content: "\E1BC";
}

.icon-twitch:before {
  content: "\E1BD";
}

.icon-twitter:before {
  content: "\E1BE";
}

.icon-twitter-square:before {
  content: "\E1BF";
}

.icon-umbrella:before {
  content: "\E1C0";
}

.icon-underline:before {
  content: "\E1C1";
}

.icon-undo:before {
  content: "\E1C2";
}

.icon-university:before {
  content: "\E1C3";
}

.icon-unlock:before {
  content: "\E1C4";
}

.icon-unlock-alt:before {
  content: "\E1C5";
}

.icon-upload:before {
  content: "\E1C6";
}

.icon-usd:before {
  content: "\E1C7";
}

.icon-user:before {
  content: "\E1C8";
}

.icon-user-md:before {
  content: "\E1C9";
}

.icon-user-plus:before {
  content: "\E1CA";
}

.icon-user-secret:before {
  content: "\E1CB";
}

.icon-user-times:before {
  content: "\E1CC";
}

.icon-users:before {
  content: "\E1CD";
}

.icon-venus:before {
  content: "\E1CE";
}

.icon-venus-double:before {
  content: "\E1CF";
}

.icon-venus-mars:before {
  content: "\E1D0";
}

.icon-viacoin:before {
  content: "\E1D1";
}

.icon-video-camera:before {
  content: "\E1D2";
}

.icon-vimeo:before {
  content: "\E1D3";
}

.icon-vimeo-square:before {
  content: "\E1D4";
}

.icon-vine:before {
  content: "\E1D5";
}

.icon-vk:before {
  content: "\E1D6";
}

.icon-volume-down:before {
  content: "\E1D7";
}

.icon-volume-off:before {
  content: "\E1D8";
}

.icon-volume-up:before {
  content: "\E1D9";
}

.icon-weibo:before {
  content: "\E1DA";
}

.icon-weixin:before {
  content: "\E1DB";
}

.icon-whatsapp:before {
  content: "\E1DC";
}

.icon-wheelchair:before {
  content: "\E1DD";
}

.icon-wifi:before {
  content: "\E1DE";
}

.icon-wikipedia-w:before {
  content: "\E1DF";
}

.icon-windows:before {
  content: "\E1E0";
}

.icon-wordpress:before {
  content: "\E1E1";
}

.icon-wrench:before {
  content: "\E1E2";
}

.icon-xing:before {
  content: "\E1E3";
}

.icon-xing-square:before {
  content: "\E1E4";
}

.icon-y-combinator:before {
  content: "\E1E5";
}

.icon-yahoo:before {
  content: "\E1E6";
}

.icon-yelp:before {
  content: "\E1E7";
}

.icon-youtube:before {
  content: "\E1E8";
}

.icon-youtube-play:before {
  content: "\E1E9";
}

.icon-youtube-square:before {
  content: "\E1EA";
}

.icon-imob:before {
  content: "\E1EC";
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  position: relative !important;
  top: 0.125em !important;
  margin-right: 0.4em !important;
}

.icon-notext:before {
  top: 0;
  margin-right: 0 !important;
}

/** DataTables */
.dataTables_length {
  font-size: 0.875em;
  color: #555555 !important;
  margin-bottom: 20px;
}
.dataTables_length select {
  margin-right: 4px;
}

.dataTables_filter {
  font-size: 0.875em;
  margin-bottom: 20px;
  color: #555555 !important;
}

.dataTable {
  font-size: 0.875em !important;
}

.dataTables_wrapper {
  width: calc(100% - 2px) !important;
}

.dataTables_info {
  font-size: 0.875em;
  margin-top: 20px;
  color: #555555 !important;
}

.dataTables_paginate {
  font-size: 0.875em;
  margin-top: 20px;
  color: #555555 !important;
}
.dataTables_paginate .paginate_button {
  border-radius: 4px !important;
}
.dataTables_paginate .paginate_button.disabled {
  background-color: #FFFFFF !important;
  border: 1px solid #ebebeb !important;
  color: #CCCCCC !important;
}
.dataTables_paginate .paginate_button.disabled:hover {
  cursor: normal !important;
}
.dataTables_paginate .paginate_button:not(.disabled):hover {
  background: #36BA9B !important;
  color: #FFFFFF !important;
  border: 1px solid #2d9a81 !important;
}
.dataTables_paginate .paginate_button.current {
  background: #36BA9B !important;
  color: #FFFFFF !important;
  border: 1px solid #2d9a81 !important;
}

.dataTables_wrapper .dataTables_paginate .paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #FFFFFF !important;
}

table.dataTable.compact tbody th, table.dataTable.compact tbody td {
  padding: 10px;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child:before, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child:before {
  top: 10px;
}

table.dataTable.dtr-inline.collapsed.compact > tbody > tr > td:first-child, table.dataTable.dtr-inline.collapsed.compact > tbody > tr > th:first-child {
  padding-left: 30px;
}

table.dataTable > tbody > tr.child ul.dtr-details {
  width: 100%;
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 10px;
}

table.dataTable thead th, table.dataTable tfoot th {
  text-align: left;
}

.dataTables_length select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875em;
  border-radius: 4px;
  min-width: 66px !important;
  color: #000000;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  resize: none;
  outline: none;
  background-image: url("../images/selectarrow.png");
  background-position: right 15px center;
  background-repeat: no-repeat;
  background-size: auto 20%;
  margin-right: 10px;
}

.dataTables_wrapper .dataTables_filter input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 0.875em;
  border-radius: 4px;
  color: #000000;
  padding: 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  resize: none;
  outline: none;
  margin-left: 10px;
}

/** Select2 */
.select2-container--default .select2-selection--single {
  border: none;
  outline: none;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  line-height: normal !important;
  outline: none;
}

.select2-container .select2-selection--single {
  height: auto;
  background: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: none;
}

.select2-container--open .select2-dropdown--below {
  border-radius: 0 0 4px 4px;
  border: 1px solid #CCCCCC;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  padding: 4px;
  font-size: 0.875em;
  outline: none;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #F4645F;
  font-size: 0.875em;
}

.select2-results__option[aria-selected] {
  font-size: 0.875em;
}

.select2-results__option {
  font-size: 0.875em;
}

/** Components */
.content,
.container {
  display: block;
  width: 1200px;
  max-width: 90%;
  margin: 0 auto;
}

.content {
  padding: 60px 0;
}

.ajax_load {
  z-index: 8;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.ajax_load .ajax_load_box {
  font-weight: 700;
  margin: auto;
  text-align: center;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.ajax_load .ajax_load_box_title {
  margin-top: 15px;
  font-weight: 600;
}
.ajax_load .ajax_load_box_circle {
  border-top: 16px solid #F4645F !important;
  border: 16px solid #e3e3e3;
  border-radius: 50%;
  margin: auto;
  width: 80px;
  height: 80px;
  -webkit-animation: spin 1.2s linear infinite;
  animation: spin 1.2s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.ajax_response {
  z-index: 6;
  position: fixed;
  padding: 20px 20px 0 0;
  top: 0;
  right: 0;
  width: 300px;
  max-width: 100%;
}
.ajax_response .message {
  background: #333333;
  font-size: 0.8em;
  font-weight: 400;
  border-radius: 4px;
  color: #ffffff;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px 15px 20px 15px;
  margin-bottom: 15px;
  position: relative;
  cursor: pointer;
}
.ajax_response .message:before {
  flex-basis: 0%;
  margin: -5px 15px 0 0 !important;
  font-size: 2.4em;
  color: rgba(0, 0, 0, 0.5);
}
.ajax_response .message.success {
  background: #36BA9B;
}
.ajax_response .message.info {
  background: #39AED9;
}
.ajax_response .message.warning {
  background: #F5B946;
}
.ajax_response .message.error {
  background: #D94352;
}
.ajax_response .message_time {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 4%;
  height: 5px;
  background: rgba(0, 0, 0, 0.5);
}

@media (max-width: 30em) {
  .ajax_response {
    width: 100%;
    padding: 20px 20px 0 20px;
  }
}
.d-block {
  display: block;
}

.d-flex {
  display: flex;
}

.d-inblock {
  display: inline-block;
}

.d-inline {
  display: inline;
}

.d-none {
  display: none;
}

h1, .h1 {
  font-size: 2em;
  margin-bottom: 4px;
}

h2, .h2 {
  font-size: 1.5em;
  margin-bottom: 4px;
}

h3, .h3 {
  font-size: 1.17em;
  margin-bottom: 4px;
}

h4, .h4 {
  font-size: 1em;
  margin-bottom: 4px;
}

h5, .h5 {
  font-size: 0.83em;
  margin-bottom: 4px;
}

h6, .h6 {
  font-size: 0.75em;
  margin-bottom: 4px;
}

p {
  margin-bottom: 20px;
}
p:last-of-type {
  margin-bottom: 0px;
}

.mt-0 {
  margin-top: 0rem !important;
}

.mr-0 {
  margin-right: 0rem !important;
}

.mb-0 {
  margin-bottom: 0rem !important;
}

.ml-0 {
  margin-left: 0rem !important;
}

.my-0 {
  margin: 0rem 0 !important;
}

.mx-0 {
  margin: 0 0rem !important;
}

.m-0 {
  margin: 0rem !important;
}

.mt-1 {
  margin-top: 0.75rem !important;
}

.mr-1 {
  margin-right: 0.75rem !important;
}

.mb-1 {
  margin-bottom: 0.75rem !important;
}

.ml-1 {
  margin-left: 0.75rem !important;
}

.my-1 {
  margin: 0.75rem 0 !important;
}

.mx-1 {
  margin: 0 0.75rem !important;
}

.m-1 {
  margin: 0.75rem !important;
}

.mt-2 {
  margin-top: 1.5rem !important;
}

.mr-2 {
  margin-right: 1.5rem !important;
}

.mb-2 {
  margin-bottom: 1.5rem !important;
}

.ml-2 {
  margin-left: 1.5rem !important;
}

.my-2 {
  margin: 1.5rem 0 !important;
}

.mx-2 {
  margin: 0 1.5rem !important;
}

.m-2 {
  margin: 1.5rem !important;
}

.mt-3 {
  margin-top: 3rem !important;
}

.mr-3 {
  margin-right: 3rem !important;
}

.mb-3 {
  margin-bottom: 3rem !important;
}

.ml-3 {
  margin-left: 3rem !important;
}

.my-3 {
  margin: 3rem 0 !important;
}

.mx-3 {
  margin: 0 3rem !important;
}

.m-3 {
  margin: 3rem !important;
}

.mt-4 {
  margin-top: 4.5rem !important;
}

.mr-4 {
  margin-right: 4.5rem !important;
}

.mb-4 {
  margin-bottom: 4.5rem !important;
}

.ml-4 {
  margin-left: 4.5rem !important;
}

.my-4 {
  margin: 4.5rem 0 !important;
}

.mx-4 {
  margin: 0 4.5rem !important;
}

.m-4 {
  margin: 4.5rem !important;
}

.mt-5 {
  margin-top: 9rem !important;
}

.mr-5 {
  margin-right: 9rem !important;
}

.mb-5 {
  margin-bottom: 9rem !important;
}

.ml-5 {
  margin-left: 9rem !important;
}

.my-5 {
  margin: 9rem 0 !important;
}

.mx-5 {
  margin: 0 9rem !important;
}

.m-5 {
  margin: 9rem !important;
}

.mt-auto {
  margin-top: auto !important;
}

.mr-auto {
  margin-right: auto !important;
}

.mb-auto {
  margin-bottom: auto !important;
}

.ml-auto {
  margin-left: auto !important;
}

.my-auto {
  margin-top: auto;
  margin-bottom: auto !important;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.pt-0 {
  padding-top: 0rem;
}

.pr-0 {
  padding-right: 0rem;
}

.pb-0 {
  padding-bottom: 0rem;
}

.pl-0 {
  padding-left: 0rem;
}

.py-0 {
  margin: 0rem 0;
}

.px-0 {
  padding: 0 0rem;
}

.p-0 {
  padding: 0rem;
}

.pt-1 {
  padding-top: 0.75rem;
}

.pr-1 {
  padding-right: 0.75rem;
}

.pb-1 {
  padding-bottom: 0.75rem;
}

.pl-1 {
  padding-left: 0.75rem;
}

.py-1 {
  margin: 0.75rem 0;
}

.px-1 {
  padding: 0 0.75rem;
}

.p-1 {
  padding: 0.75rem;
}

.pt-2 {
  padding-top: 1.5rem;
}

.pr-2 {
  padding-right: 1.5rem;
}

.pb-2 {
  padding-bottom: 1.5rem;
}

.pl-2 {
  padding-left: 1.5rem;
}

.py-2 {
  margin: 1.5rem 0;
}

.px-2 {
  padding: 0 1.5rem;
}

.p-2 {
  padding: 1.5rem;
}

.pt-3 {
  padding-top: 3rem;
}

.pr-3 {
  padding-right: 3rem;
}

.pb-3 {
  padding-bottom: 3rem;
}

.pl-3 {
  padding-left: 3rem;
}

.py-3 {
  margin: 3rem 0;
}

.px-3 {
  padding: 0 3rem;
}

.p-3 {
  padding: 3rem;
}

.pt-4 {
  padding-top: 4.5rem;
}

.pr-4 {
  padding-right: 4.5rem;
}

.pb-4 {
  padding-bottom: 4.5rem;
}

.pl-4 {
  padding-left: 4.5rem;
}

.py-4 {
  margin: 4.5rem 0;
}

.px-4 {
  padding: 0 4.5rem;
}

.p-4 {
  padding: 4.5rem;
}

.pt-5 {
  padding-top: 9rem;
}

.pr-5 {
  padding-right: 9rem;
}

.pb-5 {
  padding-bottom: 9rem;
}

.pl-5 {
  padding-left: 9rem;
}

.py-5 {
  margin: 9rem 0;
}

.px-5 {
  padding: 0 9rem;
}

.p-5 {
  padding: 9rem;
}

.pt-auto {
  padding-top: auto;
}

.pr-auto {
  padding-right: auto;
}

.pb-auto {
  padding-bottom: auto;
}

.pl-auto {
  padding-left: auto;
}

.py-auto {
  padding-top: auto;
  padding-bottom: auto;
}

.px-auto {
  padding-left: auto;
  padding-right: auto;
}

.text-green {
  color: #36BA9B !important;
}

a.text-green {
  color: #36BA9B !important;
}
a.text-green:hover {
  color: #2d9a81 !important;
}

.text-blue {
  color: #39AED9 !important;
}

a.text-blue {
  color: #39AED9 !important;
}
a.text-blue:hover {
  color: #2699c4 !important;
}

.text-yellow {
  color: #F5B946 !important;
}

a.text-yellow {
  color: #F5B946 !important;
}
a.text-yellow:hover {
  color: #f3aa1f !important;
}

.text-red {
  color: #D94352 !important;
}

a.text-red {
  color: #D94352 !important;
}
a.text-red:hover {
  color: #ca2939 !important;
}

.text-orange {
  color: #F4645F !important;
}

a.text-orange {
  color: #F4645F !important;
}
a.text-orange:hover {
  color: #f13f39 !important;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.text-bold {
  font-weight: 700;
}

.text-strike {
  text-decoration: line-through;
}

.gradient {
  background-size: 200% auto;
  transition-duration: 0.5s;
}
.gradient:hover {
  background-position: right center;
}

.gradient-green {
  background-image: linear-gradient(to right, #36BA9B 0%, #2d9a81 50%, #36BA9B 100%);
}

.gradient-blue {
  background-image: linear-gradient(to right, #39AED9 0%, #2699c4 50%, #39AED9 100%);
}

.gradient-yellow {
  background-image: linear-gradient(to right, #F5B946 0%, #f3aa1f 50%, #F5B946 100%);
}

.gradient-red {
  background-image: linear-gradient(to right, #D94352 0%, #ca2939 50%, #D94352 100%);
}

.gradient-orange {
  background-image: linear-gradient(to right, #F4645F 0%, #f13f39 50%, #F4645F 100%);
}

.btn {
  border-radius: 4px;
  display: inline-block;
  padding: 6px 12px;
  background: #555555;
  border: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 0.875em;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.3);
  transition-duration: 0.3s;
  margin: 2px;
  outline: none;
}
.btn:hover {
  background-color: #414141;
}

.btn-small {
  padding: 2px 4px;
}

.btn-large {
  padding: 10px 20px;
}

.btn-large-ext {
  padding: 20px 40px;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.btn-green {
  background-color: #36BA9B;
  color: #ffffff;
}
.btn-green:hover {
  background-color: #2d9a81;
}
.btn-green:disabled {
  background-color: #7dd9c4;
  cursor: not-allowed;
}

.btn-blue {
  background-color: #39AED9;
  color: #ffffff;
}
.btn-blue:hover {
  background-color: #2699c4;
}
.btn-blue:disabled {
  background-color: #8fd1e9;
  cursor: not-allowed;
}

.btn-yellow {
  background-color: #F5B946;
  color: #ffffff;
}
.btn-yellow:hover {
  background-color: #f3aa1f;
}
.btn-yellow:disabled {
  background-color: #fadea7;
  cursor: not-allowed;
}

.btn-red {
  background-color: #D94352;
  color: #ffffff;
}
.btn-red:hover {
  background-color: #ca2939;
}
.btn-red:disabled {
  background-color: #ea98a0;
  cursor: not-allowed;
}

.btn-orange {
  background-color: #F4645F;
  color: #ffffff;
}
.btn-orange:hover {
  background-color: #f13f39;
}
.btn-orange:disabled {
  background-color: #fbc0be;
  cursor: not-allowed;
}

.bg-green {
  background-color: #36BA9B;
}

.bg-blue {
  background-color: #39AED9;
}

.bg-yellow {
  background-color: #F5B946;
}

.bg-red {
  background-color: #D94352;
}

.bg-orange {
  background-color: #F4645F;
}

.bg-body {
  background-color: #FFFFFF;
}

.bg-white {
  background-color: #FFFFFF;
}

.bg-gray-light {
  background-color: #CCCCCC;
}

.bg-gray-medium {
  background-color: #555555;
}

.bg-gray {
  background-color: #999999;
}

.bg-gray-dark {
  background-color: #333333;
}

.bg-black {
  background-color: #000000;
}

.embed {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed iframe, .embed object, .embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.radius {
  border-radius: 4px;
}

.rounded {
  border-radius: 50%;
}

.transition {
  transition-duration: 0.3s;
}